<nz-card>
  <ng-template #title>
    基本结构
  </ng-template>
  <ng-template #body>
    <nz-layout>
      <nz-header>header</nz-header>
      <nz-content style="background: yellowgreen;text-align: center">content</nz-content>
      <nz-footer>footer</nz-footer>
    </nz-layout>
    <nz-layout>
      <nz-header>header</nz-header>
      <nz-layout>
        <nz-sider>sider</nz-sider>
        <nz-content style="background: yellowgreen;text-align: center">content</nz-content>
      </nz-layout>
      <nz-footer>footer</nz-footer>
    </nz-layout>
    <nz-layout>
      <nz-header>Header</nz-header>
      <nz-layout>
        <nz-content style="background: yellowgreen;text-align: center">Content</nz-content>
        <nz-sider>Sider</nz-sider>
      </nz-layout>
      <nz-footer>Footer</nz-footer>
    </nz-layout>
    <nz-layout>
      <nz-sider>sider</nz-sider>
      <nz-layout>
        <nz-header>header</nz-header>
        <nz-content >content</nz-content>
        <nz-footer>footer</nz-footer>
      </nz-layout>
    </nz-layout>
  </ng-template>
</nz-card>
