<div nz-row [nzGutter]="24">
  <div nz-col nzSpan="12">
    <nz-card>
      <ng-template #title>基本用法</ng-template>
      <ng-template #body>
        <nz-transfer [nzDataSource]="list" [nzTitles]="['source','target']"></nz-transfer>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col nzSpan="12">
    <nz-card>
      <ng-template #title>带搜索框</ng-template>
      <ng-template #body>
        <nz-transfer
          [nzShowSearch]="true"
          [nzDataSource]="list"
        >
          <ng-template #render let-item>
            <i class="anticon anticon-frown-o"></i>{{item.title}}
          </ng-template>
        </nz-transfer>
      </ng-template>
    </nz-card>
  </div>
</div>
