<div nz-row [nzType]="'flex'" [nzJustify]="'space-around'">
  <div nz-col [nzSpan]="4">
    <nz-card>
      <ng-template #title>title</ng-template>
      <ng-template #extra>extra</ng-template>
      <ng-template #body>body</ng-template>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="4">
    <nz-card>
      <ng-template #title>title</ng-template>
      <ng-template #extra>extra</ng-template>
      <ng-template #body>body</ng-template>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="4"  style="background: #ddd">
    <nz-card>
      <ng-template #title>title</ng-template>
      <ng-template #extra>extra</ng-template>
      <ng-template #body>body</ng-template>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="4"  style="background: #ddd">
    <nz-card [nzBordered]="false">
      <ng-template #title>title</ng-template>
      <ng-template #extra>extra</ng-template>
      <ng-template #body>body</ng-template>
    </nz-card>
  </div>
</div>
