<div nz-row [nzGutter]="8" nzType="flex" nzAlign="middle" nzJustify="space-between">
  <div nz-col nzXs="24" nzMd="12" nzLg="8">
    <nz-card>
      <ng-template #title>基础分页</ng-template>
      <ng-template #body>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="50" [nzPageSize]="5"></nz-pagination>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="12" nzLg="8">
    <nz-card>
      <ng-template #title>改变条目</ng-template>
      <ng-template #body>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="50" [nzPageSize]="10" [nzShowSizeChanger]="true"></nz-pagination>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="12" nzLg="8">
    <nz-card>
      <ng-template #title>迷你</ng-template>
      <ng-template #body>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="50" [nzPageSize]="10" [nzSize]="'small'"></nz-pagination>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="12" nzLg="8">
    <nz-card>
      <ng-template #title>简洁</ng-template>
      <ng-template #body>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="50" [nzSimple]="true"></nz-pagination>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="12" nzLg="8">
    <nz-card>
      <ng-template #title>总数</ng-template>
      <ng-template #body>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="50" [nzShowTotal]="true"></nz-pagination>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="12" nzLg="8">
    <nz-card>
      <ng-template #title>显示工具</ng-template>
      <ng-template #body>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="10" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" ></nz-pagination>
      </ng-template>
    </nz-card>
  </div>
</div>
